---
http_interactions:
- request:
    method: post
    uri: https://checkout.testdrive.klarna.com/checkout/orders
    body:
      encoding: UTF-8
      string: '{"purchase_country":"NO","purchase_currency":"NOK","locale":"nb-no","cart":{"items":[{"reference":"1123581220325","name":"Widget","quantity":1,"unit_price":666,"tax_rate":2500}]},"merchant":{"id":"1337","terms_uri":"http://www.example.com/terms","checkout_uri":"http://www.example.com/checkout","confirmation_uri":"http://www.example.com/confirmation_uri","push_uri":"http://www.example.com/push"}}'
    headers:
      Authorization:
      - Klarna gone
      Content-Type:
      - application/vnd.klarna.checkout.aggregated-order-v2+json
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://checkout.testdrive.klarna.com/checkout/orders/143F7EB92CD90B11C39E7220000
      Content-Type:
      - application/vnd.klarna.checkout.aggregated-order-v2+json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 03 Feb 2014 13:24:07 GMT
- request:
    method: get
    uri: https://checkout.testdrive.klarna.com/checkout/orders/143F7EB92CD90B11C39E7220000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Klarna gone
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.klarna.checkout.aggregated-order-v2+json
    body:
      encoding: UTF-8
      string: '{"id":"143F7EB92CD90B11C39E7220000","purchase_country":"no","purchase_currency":"nok","locale":"nb-no","status":"checkout_incomplete","started_at":"2014-02-03T14:24:07+01:00","last_modified_at":"2014-02-03T14:24:07+01:00","cart":{"total_price_excluding_tax":532,"total_tax_amount":134,"total_price_including_tax":666,"items":[{"reference":"1123581220325","name":"Widget","quantity":1,"unit_price":666,"tax_rate":2500,"discount_rate":0,"type":"physical","total_price_including_tax":666,"total_price_excluding_tax":532,"total_tax_amount":134}]},"customer":{"type":"person"},"shipping_address":{"country":"no"},"billing_address":{"country":"no"},"gui":{"layout":"desktop","snippet":"<div
        id=\"klarna-checkout-container\" style=\"overflow-x:\nhidden;\"><script type=\"text/javascript\">/*
        <![CDATA[ */(function(w,k,i,d,u,n,c){w[k]=w[k]||function(){(w[k].q=w[k].q||[]).push(arguments)};w[k].config={container:w.document.getElementById(i),ORDER_URL:''https://checkout.testdrive.klarna.com/checkout/orders/143F7EB92CD90B11C39E7220000'',TESTDRIVE:true,AUTH_HEADER:''KlarnaCheckout
        Pss54gM64IrvKxHMKUaA'',LAYOUT:''desktop'',LOCALE:''nb-no'',ORDER_STATUS:''checkout_incomplete'',MERCHANT_TAC_URI:''http://www.example.com/terms'',MERCHANT_TAC_TITLE:''test'',MERCHANT_NAME:''test'',GUI_OPTIONS:[],ALLOW_SEPARATE_SHIPPING_ADDRESS:false,PURCHASE_COUNTRY:''nor'',PURCHASE_CURRENCY:''nok'',DISALLOW_SKIP_NIN:false,BOOTSTRAP_SRC:u};n=d.createElement(''script'');c=d.getElementById(i);n.async=!0;n.src=u;c.insertBefore(n,c.firstChild);})(this,''_klarnaCheckout'',''klarna-checkout-container'',document,''https://checkout.testdrive.klarna.com/131022-064eb74/checkout.bootstrap.js'');/*
        ]]> */</script><noscript>Please <a href=\"http://enable-javascript.com\">enable\nJavaScript</a>.</noscript></div>"},"options":{"allow_separate_shipping_address":false},"merchant":{"id":"1337","terms_uri":"http://www.example.com/terms","checkout_uri":"http://www.example.com/checkout","confirmation_uri":"http://www.example.com/confirmation_uri","push_uri":"http://www.example.com/push"}}'
  recorded_at: Mon, 03 Feb 2014 13:24:08 GMT
recorded_with: VCR 2.8.0
